.mainBody{
    background-color: #F2F2F2;
}

.heart{
    left: 20%;
    margin-top: 20%;
    margin-left: 10%;

    background: #ABACC5;
    mix-blend-mode: normal;
    opacity: 0.31;

    height: 15px;
    width: 15px;

    transform: rotate(-45deg);
}

.heart:before,
.heart:after {
    content: "";
    background-color: #ABACC5;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    position: absolute;
}

.heart:after{
    top: 0;
    left: 7.5px;
}

.heart:before {
    top: -7.5px;
    left: 0;
}

.card_root{
    background: #FFFFFF;
    box-shadow: 0 22px 24px #B7C5F0;
    border-radius: 20px;

    width: 240px;
    height: 350px;
}

.card_body1{
    height: 50%;
    margin-top: 5%;
    margin-right: 3%;
    overflow-y: hidden;
}

.card_body2{
    height: 25%;
    margin-left: 5%;
    margin-right: 5%;
}

.card_body3{
    height: 25%;
    margin-left: 5%;
    margin-right:5%;
    /*border: 3px solid green;*/
}

.card_img{
    border-radius: 30px;
    width: 130px;
    height: 130px;
    float: right;

    margin-top: 10%;
   /* background-image: url("./assets/healthy-food2.png");*/
    background-size: cover;
}

.img_inside_card{
    width: 130px;
    height: 130px;
    border-radius:30px;

    object-fit: cover;
    object-position: center right;
}

.myRow{
    display: flex;
    max-width: 95%;
}

.myColumn{
    flex: 50%;
    height: 100%;
}

/******************************/
/*for the header*/
.myColumn2{
    flex: 20%;
    height: 100%;
}

.myColumn3{
    flex: 80%;
    height: 100%;
}
/******************************/


/******************************/
/*progress bar*/
.MyProgress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.75rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #E5E6ED;
    margin-top: 3%;
    border-radius: 0.45rem;
}

.MyProgress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #D51313;
    transition: width 0.6s ease;
    width: 70%;

}

.kotoPercent{
    margin-top: 10%;
    color: #ABACC5;
}